<div class="row">
  <div class="col-md-12">
    <!--<div class="col-md-3 col-xs-12">
      <form [formGroup]="newGameForm">
        <div class="form-group" [ngClass]="{'error': newGameForm.controls['game'].errors && !newGameForm.controls['game'].pristine}">
          <label for="game">Выберите игру</label>
          <select formControlName="game" id="game" name="game" class="form-control">
              <option value="">Выберите игру из списка</option>
              <option *ngFor="let game of games" [ngValue]="game">
                {{game.name }}
              </option>
          </select>
          <div *ngIf="newGameForm.controls['game'].errors && !newGameForm.controls['game'].pristine" class="error-msg">
            <div [hidden]="!newGameForm.controls['game'].errors.required">Выберите игру.</div>
          </div>
          <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          <button *ngIf="!newGameForm.invalid && !loading" class="btn btn-primary" (click)="newGame();">Начать</button>
        </div>
      </form>
    </div>-->
    <div class="col-md-12 col-xs-12">
      <app-playground [game]="game" (start_game)="isStartGame($event)"></app-playground>
    </div>
  </div>
</div>
<div *ngIf="start_game" class="row">
  <div class="col-md-12">
    <app-chat [chat] = "tableId" (users_count) = "countUsers($event)"></app-chat>
  </div>
</div>
