<div class="row content_main">
    <div class="col-md-3 col-xs-12">
        <div class="chat_block">
            <div class="chat_header">
                добавить новый стол
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xs-12 text-center align-self-center">
        <div class="main_page_content">
            <div class="row buttons_area">
                <div class="col-4">
                    <button>открытые столы</button>
                </div>
                <div class="col-4">
                    <button>создать игру</button>
                </div>
                <div class="col-4">
                    <button>турниры</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-xs-12 align-self-center chat">
        <div class="chat_block">
            <div class="chat_header">
                <img src="../../../assets/img/pencil.png" />чат
            </div>
        </div>
    </div>
    <footer>
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="row justify-content-start">
                    <div class="col-4">
                        <img src="../../../assets/img/mail.png" />
                        <img src="../../../assets/img/rss.png" />
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
