h1, .h1, h2, .h2, h3, .h3 {
	margin: 0;
}
.table-owner {
  float: right;
  font-size: 11px;
}

.table-owner button {
  height: 20px;
  padding: 4px 10px;
  line-height: 1;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 10px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}
