.play-main {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.play-table {
  width: 100%;
  min-height: 560px;
  background: url("/assets/img/table.png") no-repeat center / 75%;
}

.chear {

}

.player-container {
  position: absolute;
  width: 95px;
  height: 90px;
  cursor: pointer;
  transition: .5s;
}

.board-container {
  background-image: url("/assets/img/bg.jpg");
  width: 800px;
  height: 600px;
  position: absolute;
}

.rotate {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.go-to-home {
  padding: 20px;
  width: 20px;
  position: absolute;
  z-index: 2;
}

.start {
  position: absolute;
  top: 25px;
  right: 20px;
}

.cards-area {

}

.cards-area > div {
  margin-left: -30px;
  float: left;
  width: 36px;
  height: 50px;
  position: relative;
}

.cards-area > div:first-child {
  margin-left: 0;
}

.cards-area > div > img {
  height: 50px;
}

.player-cards > div > img:hover {
  height: 60px;
  z-index: 2;
  position: absolute;
  bottom: 0;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(255,255,255,1);
  box-shadow: 0px 0px 5px 1px rgba(255,255,255,1);
}

.pack-area {
  position: absolute;
  height: 50px;
  width: 50px;
  right: 215px;
  top: 210px;
}

.pack-area > span {
  margin-left: -39.5px;
}

.pack-area > span:first-child {
  margin-left: 0;
}

.pack-area > span > img {
  height: 50px;
}

.suit {
  height: 70px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.lowest-trump {
  height: 70px;
  width: 50px;
  position: absolute;
}

.lowest-trump > img {
  height: 80px;
}

.trump-suit {
  position: absolute;
  top: 45px;
  width: 70px;
  height: 70px;
}

.turns {
  position: relative;
  left: 200px;
  width: 260px;
  height: 130px;
  top: 93px;
}

.turns > div {
  width: 36px;
  position: absolute;
}

.turns > div > img {
  height: 50px;
}

.turns > div:nth-child(1) {
  transform: rotate(-10deg);
}

.turns > div:nth-child(2) {
  transform: rotate(15deg);
}

.turns > div:nth-child(3) {
  transform: rotate(15deg);
  left: 0;
  top: 60px;
}

.turns > div:nth-child(4) {
  transform: rotate(-10deg);
  left: 0;
  top: 60px;
}

.turns > div:nth-child(5) {
  transform: rotate(-10deg);
  left: 50px;
}

.turns > div:nth-child(6) {
  transform: rotate(15deg);
  left: 50px;
}

.turns > div:nth-child(7) {
  transform: rotate(15deg);
  left: 50px;
  top: 60px;
}

.turns > div:nth-child(8) {
  transform: rotate(-10deg);
  left: 50px;
  top: 60px;
}

.turns > div:nth-child(9) {
  transform: rotate(-10deg);
  left: 100px;
}

.turns > div:nth-child(10) {
  transform: rotate(15deg);
  left: 100px;
}

.turns > div:nth-child(11) {
  transform: rotate(15deg);
  left: 100px;
  top: 60px;
}

.turns > div:nth-child(12) {
  transform: rotate(-10deg);
  left: 100px;
  top: 60px;
}

.turns > div:nth-child(13) {
  transform: rotate(15deg);
  left: 150px;
}

.turns > div:nth-child(14) {
  transform: rotate(-10deg);
  left: 150px;
}

.turns > div:nth-child(15) {
  transform: rotate(-10deg);
  left: 150px;
  top: 60px;
}

.turns > div:nth-child(16) {
  transform: rotate(15deg);
  left: 150px;
  top: 60px;
}

.turns > div:nth-child(17) {
  transform: rotate(15deg);
  left: 200px;
}

.turns > div:nth-child(18) {
  transform: rotate(-10deg);
  left: 200px;
}

.turns > div:nth-child(19) {
  transform: rotate(-10deg);
  left: 200px;
  top: 60px;
}

.turns > div:nth-child(20) {
  transform: rotate(15deg);
  left: 200px;
  top: 60px;
}

.turns > div:nth-child(21) {
  transform: rotate(15deg);
  left: 250px;
}

.turns > div:nth-child(22) {
  transform: rotate(-10deg);
  left: 250px;
}

.turns > div:nth-child(23) {
  transform: rotate(15deg);
  left: 250px;
  top: 60px;
}

.turns > div:nth-child(24) {
  transform: rotate(-10deg);
  left: 250px;
  top: 60px;
}

.skip-area {
  position: absolute;
  bottom: 35px;
  left: 35px;
}

.trash-area {
  position: absolute;
  height: 50px;
  width: 50px;
  right: 215px;
  top: 330px;
}

.trash-area > span {
  position: absolute;
}

.trash-area > span > img {
  height: 50px;
  transform: rotate(-10deg);
}

.trash-area > span:nth-child(2n) > img {
  transform: rotate(10deg);
}

.trash-area > span:nth-child(2n+1) > img {
  transform: rotate(-15deg);
}

.trash-area > span:nth-child(5) > img {
  transform: rotate(15deg);
}

.trash-area > span:nth-child(8) > img {
  transform: rotate(-20deg);
}

.trash-area > span:nth-child(11) > img {
  transform: rotate(20deg);
}

.trash-area > span:nth-child(16) > img {
  transform: rotate(-30deg);
}

.trash-area > span:nth-child(20) > img {
  transform: rotate(30deg);
}

.trash-area > span:nth-child(23) > img {
  transform: rotate(-37deg);
}

.trash-area > span:nth-child(26) > img {
  transform: rotate(43deg);
}

@media (min-width: 768px) {
  .play-main {
    background: url("/assets/img/bg.jpg") no-repeat top / contain;
    /*background-image: url("/assets/img/bg.jpg");*/
  }
}

@media (max-width: 767px) {
  .play-main:before {
    background: url("/assets/img/bg.jpg") no-repeat top / contain;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    content: "";
    position: absolute;
    width: 800px;
    height: 85%;
    top: 30px;
    left: -145px;
    z-index: -1;
  }
}
