.play-main {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.play-table {
  width: 100%;
  min-height: 560px;
  background: url("/assets/img/table.png") no-repeat center / 75%;
}

.chear {

}

.player-container {
  position: absolute;
  width: 95px;
  height: 90px;
  cursor: pointer;
  transition: .5s;
}

.board-container {
  background-image: url("/assets/img/bg.jpg");
  width: 800px;
  height: 600px;
  position: absolute;
}

.rotate {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

@media (min-width: 768px) {
  .play-main {
    background: url("/assets/img/bg.jpg") no-repeat top / contain;
    /*background-image: url("/assets/img/bg.jpg");*/
  }
}

@media (max-width: 767px) {
  .play-main:before {
    background: url("/assets/img/bg.jpg") no-repeat top / contain;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    content: "";
    position: absolute;
    width: 800px;
    height: 85%;
    top: 30px;
    left: -145px;
    z-index: -1;
  }
}
