<div class="{{styles}}"
     [style.zoom]="zoom"
     [style.-moz-transform]="'scale('+zoom+')'"
     [style.top.px]="top"
     [style.left.px]="left">
  <div class="go-to-home"><a [routerLink]="['/dashboard']"><span class="glyphicon glyphicon-arrow-left"></span></a></div>
  <!--<div *ngFor="let chair of chairs; let i = index"
       (click)="chooseChair(chair._id)"
       [ngStyle]="{'top':chair.top,'left':chair.left}" class="player-container">
    <div *ngIf="!findInArray(chair._id); else isNotFree">Free</div>
    <ng-template #isNotFree>
      {{ getUserByChair(chair._id) | getUserName }}
      <div *ngIf="myCards && getUserByChair(chair._id) == user_email" class="cards-area">
        <span *ngFor="let card of myCards">
          <img src="assets/img/cards/{{ card | uppercase }}.svg" />
        </span>
      </div>

    </ng-template>
  </div>-->
  <div *ngFor="let chair of chairs; let i = index"
       (click)="chooseChair(chair._id, [chair.top,chair.left])"
       [ngStyle]="{'top':chair.top,'left':chair.left}" class="player-container">
    <div *ngIf="!findInArray(chair._id)">Free</div>
  </div>
  <div *ngIf="users && users.length > 0">
    <div *ngFor="let user of users"
         [ngStyle]="{'top':user.position[0],'left':user.position[1]}" class="player-container">
      {{ user.name }}
      <div *ngIf="myCards && user.email == user_email" class="cards-area">
        <span *ngFor="let card of myCards">
          <img src="assets/img/cards/{{ card | uppercase }}.svg" />
        </span>
      </div>
    </div>
  </div>
  <button *ngIf="userCanStart" class="btn btn-primary start" (click)="newGame()">Start Game</button>

  <div *ngIf="startedGame">
    <img class="suit" src="assets/img/cards/{{ trump }}.svg" />
  </div>
</div>
