<div class="{{styles}}"
     [style.zoom]="zoom"
     [style.-moz-transform]="'scale('+zoom+')'"
     [style.top.px]="top"
     [style.left.px]="left">
  <div class="go-to-home"><a [routerLink]="['/dashboard']"><span class="glyphicon glyphicon-arrow-left"></span></a></div>
  <div *ngFor="let chair of chairs; let i = index"
       (click)="chooseChair(chair._id, [chair.top,chair.left], i)"
       [ngStyle]="{'top':chair.top,'left':chair.left}" class="player-container">
    <div *ngIf="!findInArray(chair._id)">Free</div>
  </div>
  <div *ngIf="users && users.length > 0">
    <div *ngFor="let user of users"
         [ngStyle]="{'top':user.position[0],'left':user.position[1]}" class="player-container">

      <div *ngIf="user.email == userTurn">
        <div *ngIf="userTurn == user_email; else elseTurn">Ваш ход</div>
        <ng-template #elseTurn>Ходит</ng-template>
      </div>
      {{ user.name }}
      <div *ngIf="myCards && user.email == user_email" class="cards-area player-cards">
        <div *ngFor="let card of myCards">
          <img (click)="turn(card.card)" src="assets/img/cards/{{ card.card | uppercase }}.svg" />
        </div>
      </div>
      <div *ngIf="user.email != user_email && user.cards_count > 0" class="cards-area">
        <div *ngFor="let card_b of getArray(user.cards_count)">
          <img src="assets/img/cards/{{ card_b }}.svg" />
        </div>
      </div>
    </div>
  </div>
  <button *ngIf="userCanStart" class="btn btn-primary start" (click)="newGame()">Start Game</button>

  <div class="trump-suit" *ngIf="startedGame">
    <img class="suit" src="assets/img/cards/{{ trump }}.svg" />
    <div *ngIf="showLowestTrump" class="lowest-trump" [ngStyle]="{'top':lowestTrumpResult.position[0],'left':lowestTrumpResult.position[1]}">
      <img src="assets/img/cards/{{ lowestTrumpResult.card | uppercase }}.svg" />
    </div>
    <div *ngIf="turns" class="turns">
      <div *ngFor="let turn of turns">
        <img *ngIf="turn.card.length > 0" src="assets/img/cards/{{ turn.card | uppercase }}.svg" />
      </div>
    </div>
  </div>
  <div *ngIf="startedGame && pack_count" class="pack-area">
        <span *ngFor="let card of getArray(pack_count)">
          <img src="assets/img/cards/{{ card }}.svg" />
        </span>
  </div>
  <div *ngIf="showSkip" class="skip-area">
    <button (click)="turn('','skip')" class="btn btn-info">Пропустить</button>
  </div>
</div>
